.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #f1f1f1;
  position: relative;
  bottom: 0;
}