.forgot-container {
  margin-bottom: -20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(315deg, #4c6498 0%, #d1ddff 74%);
}

.forgot-card {
  background-color: white;
  padding: 2rem; /* padding을 rem으로 변경 */
  height: 40vh;
  border-radius: 0.5rem; /* border-radius를 rem으로 변경 */
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1); /* box-shadow를 rem으로 변경 */
  width: 25vw;
  max-width: 25rem; /* max-width를 rem으로 변경 */
  text-align: center;
}

.input-group {
  margin-bottom: 5vh; /* margin-bottom을 rem으로 변경 */
}

.email{
  margin-bottom: 2vh;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem; /* padding을 rem으로 변경, 오른쪽 여백을 더 크게 */
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* border-radius를 rem으로 변경 */
  font-size: 1rem; /* font-size를 rem으로 변경 */
}

.email-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem; /* right 여백을 rem으로 변경 */
  transform: translateY(-50%);
  font-size: 1.125rem; /* font-size를 rem으로 변경 */
  color: #888;
}

.forgot-button {
  width: 100%;
  padding: 0.75rem; /* padding을 rem으로 변경 */
  background-color: #7b7dbb;
  color: white;
  border: none;
  border-radius: 0.25rem; /* border-radius를 rem으로 변경 */
  cursor: pointer;
  font-size: 1rem; /* font-size를 rem으로 변경 */
}

.forgot-button:hover {
  background-color: #5f63a5;
}
