.header_container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 좌우 정렬 */
  padding: 0 2vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header.hidden {
  transform: translateY(-100%);
}

.header select {
  margin-left: 1vw;
  height: 2.2rem;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.header_logo {
  display: flex;
  align-items: center;
  /* gap: 1vw; */
  text-decoration: none;
}

.header_logo img {
  height: 9vh;
}

.header_logo p {
  font-size: 1.4vh;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.nav_links {
  display: flex;
  gap: 1.8vw;
  margin-left: 4vw;
}

.header_logo,
.nav_link,
.auth_btn.login,
.auth_btn.signup {
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  color: #444;
  padding: 1rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.nav_link:hover {
  background-color: black;
  color: white;
}

.auth_buttons {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-left: auto;
}

.auth_btn {
  padding: 0.5vh 1.4vw;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  white-space: nowrap;
}

.auth_btn:visited {
  color: inherit;
}

.auth_btn:hover {
  background-color: black;
  color: white;
}

.auth_btn.logout {
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border-radius: 6px;
}

.auth_btn:hover {
  filter: brightness(0.9);
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-left: 2vw;
}

.user-info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3vh;
}

.welcome-text {
  font-weight: 600;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.95rem;
  animation: fadeIn 0.4s ease-out;
}

.purchase-link {
  font-size: 0.85rem;
  color: #274c9b;
  padding: 4px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.purchase-link:hover {
  background-color: #dcdcdc;
}

.token-count {
  font-size: 1rem;
  color: #ffc107;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}