html, body {
    height: 100%; /* 화면을 가득 채우게 설정 */
    margin: 0; /* 기본 마진 제거 */
    overflow-x: hidden; /* 가로 스크롤을 숨김 */
}

.Home_container {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.05vw;
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

.Home_left_side, .Home_right_side {
    width: 10vw;
}

.Home_center_side {
    width: 80vw;
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.main-title {
    font-size: 5vh;
    font-weight: bolder;
    color: rgb(19, 28, 87);
}

.subtitle {
    margin-top: 2vh;
    color: rgb(87, 88, 93);
    font-size: 2.8vh;
    letter-spacing: -0.07vw;
}

.free_start_button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10vw;
    height: 7vh;
    border: 1px solid white;
    border-radius: 0.5vw;
    font-size: 1.4vw;
    font-weight: bold;
    background-color: rgb(67, 67, 67);
    color: white;
    letter-spacing: -0.07vw;
}

.free_start_button:hover {
    background: linear-gradient(135deg, #1e3ec4, #4c82fb);
}

.Home_watermark_explain {
    color: rgb(19, 28, 87);
    font-size: 2vh;
    letter-spacing: -0.07vw;
    height: 20vh;
}

.Home_watermark_explain p {
    color: rgb(87, 88, 93);
    margin-top: 4vh;
    margin-bottom: 1.2vh;
    font-size: 1.5vw;
}

.image-slider {
    position: relative;
    width: 50%;
    overflow: hidden;
    margin: 3vh 0;
}

.slider-images {
    display: flex;
    transition: transform 1.5s ease-in-out;
}

.main_image {
    flex: 0 0 100%;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.how {
    margin-top: 5vh;
    font-size: 4vh;
    color: rgb(19, 28, 87);
}

.steps {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 5vh;
}

.step {
    font-size: large;
    width: 28%;
    text-align: center;
}

.step img {
    width: 85%;
    height: auto;
}

.usage-title {
    color: rgb(19, 28, 87);
    margin-top: 7vh;
    font-size: 4vh;
    letter-spacing: -0.08vw;
}

.icons-container {
    background-color: rgb(234, 234, 234);
    padding: 3vw;
    border-radius: 1vw;
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 60vw;
    display: flex;
    justify-content: center;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    justify-content: center;
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    font-size: 2vh;
    font-weight: 500;
    padding: 1vh 0.7vh;
    border-radius: 8px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    height: 4vh;
}

.logo-image {
    width: 7vw;
    min-width: 60px;
    max-width: 120px;
    height: auto;
}

.characteristic {
    color: rgb(19, 28, 87);
    margin-top: 4vh;
    font-size: 4vh;
    padding: 2vh 0;
}

.yoons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    row-gap: 3vh;
    justify-content: center;
    margin-bottom: 5vh;
}

.yoon {
    padding: 1vw;
    height: 40vh;
    background-color: rgb(186, 186, 186);
    border-radius: 0.8vw;
}

.yoon img{
    width: 25vw;
    height: 25vh;
}

.free {
    width: 100vw;
    height: 35vh;
    color: white;
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
}

.free h2 {
    padding-top: 2vh;
    font-size: 5vh;
    font-weight: bold;
}

.free h3 {
    font-size: 3vh;
    margin-bottom: 5vh;
}

.free button {
    width: 10vw;
    height: 6vh;
    border: 2px solid white;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: transparent;
    color: white;
    letter-spacing: -0.07vw;
}