.login-container {
  background-image: linear-gradient(315deg, #4c6498 0%, #d1ddff 80%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: -10vh;
}

.login-card {
  background-color: white;
  padding: 1.6vw;
  border-radius: 1vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8vw;
  font-weight: 600;
}

.input-group {
  margin-bottom: 3vh;
}

.input-group label {
  display: block;
  font-size: 1vw;
  margin-bottom: 0.8vh;
  color: #555;
}

.input-group input {
  width: 20vw;
  margin-left: -0.5vw;
  padding: 0.8vw;
  font-size: 1vw;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #7b7dbb;
}

.error-message {
  color: #ff4d4f;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 15px;
}

.login-button {
  width: 24.8vw;
  padding: 0.5vw;
  background-color: #7b7dbb;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #5f63a5;
}

.Signup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vh;
  text-align: center;
}

.Signup_container p {
  font-size: 1vw;
  margin: 0.7vh 0;
}

.Signup_container a {
  color: #7b7dbb;
  text-decoration: none;
}

.Signup_container a:hover {
  text-decoration: underline;
}